// .section.features {
//   padding-bottom: 0;
// }

.features__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px 0;
  }
}

.features__list--item {
  @include untilTablet {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    width: calc((100% - 30px) / 2);
    margin: 15px 0;
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }

  &::before {
    display: flex;
    content: '';
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $second-bg-color;
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.features__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: $secondary-text-color;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
