.footer {
  padding: 60px 0;
  background: $main-bg-color;
}

.footer-nav {
  display: inline-block;
}

.footer-nav__item {
  margin-bottom: 9px;
}

.logo__label--white {
  color: $white-color;
}

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-nav__adress {
  font-size: 14px;
  line-height: 1.71;
  color: $white-color;
}

.footer-nav__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $white-color;
  }
}

.footer-flex {
  @media screen and(min-width:768px) and(max-width:1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
  }
  @include desktop {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-social__wrap {
  @include untilTablet {
    margin-bottom: 60px;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
}

.adress-container {
  margin-bottom: 60px;
  // margin-right: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}

.footer-social__item {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);

  &:hover {
    background-color: $accent-color;
  }
}

.footer-social__icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-items: center;
  fill: $white-color;
}
