.header {
  padding: 24px 0;
  border-bottom: 1px solid #c4c4c4;
}

.navigation {
  // display: flex;
  align-items: center;
}

.navigation {
  display: none;
}
.contacts {
  display: none;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.site-nav__link,
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__link {
  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts {
  // display: flex;
  margin-left: auto;
  align-self: center;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link-icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: $accent-color;
}

.site-nav__link.current {
  position: relative;

  &::after {
    content: '';
    width: 100%;
    display: flex;
    border-bottom: 4px solid $accent-color;
    border-radius: 2px;
    position: absolute;
    bottom: -32px;
  }
}

//  -------------------------Mobile Menu---------------------
.menu__open-btn,
.menu__close-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.menu__open-icon,
.menu__close-btn {
  fill: $main-text-color;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white-color;
  padding-top: 48px;
  padding-bottom: 48px;
}

.menu__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
}

.mobile-menu__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin-left: 40px;
  overflow: hidden;
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: $main-text-color;
}

.menu-contacts {
  margin-bottom: 64px;
}

.menu-contacts__item {
  & + & {
    margin-top: 32px;
  }
}

.menu-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: $accent-color;
}

.menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: $secondary-text-color;
}

.mobile-menu__social-list {
  display: flex;
}

.mobile-menu__social-item {
  margin-right: 10px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: $accent-color;

  &::after {
    content: '';
    margin-left: 10px;
    height: 22px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
