.hero {
  display: flex;
  background-color: $main-bg-color;
  // max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img-mob-1x.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-mob-2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-tab-1x.jpg);
  }

  @include desktop {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;

  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  min-width: 50px;
  padding: 10px 32px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  color: $white-color;
  background-color: $accent-color;
}
