.team {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px 0;
  }
}

.team__card {
  text-align: center;
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include untilTablet {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    width: calc((100% - 30px) / 2);
    margin: 15px 0;
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.team__section {
  background-color: $second-bg-color;
}

.team__photo {
  width: 100%;
}

.team__member {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: $secondary-text-color;
  margin-bottom: 16px;
}
