// .email {
//   margin-left: 93px;
// }

.email__input {
  @include desktop {
    width: 358px;
  }
  margin-right: 12px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2f303a;
  border-radius: 4px;
  color: #ffffff;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:hover {
    outline: none;
    background-color: inherit;
  }
}

.footer-input-wrap {
  display: flex;

  flex-direction: column;
  align-items: center;
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.email__button--icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $white-color;
}

.email__button {
  display: flex;
  align-items: center;
}

.email__wrap {
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
}
