.modal__button--icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%);
  }
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  background-color: $white-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button--close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__button--close:hover .modal__button--icon {
  cursor: pointer;
  fill: $accent-color;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  margin-bottom: 4px;
}

.modal-field {
  margin-top: 20px;
}

.modal__wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-color;
    cursor: pointer;
  }
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-text {
  width: 100%;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
  &::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-check__text {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;

  & span {
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid $main-text-color;
    border-radius: 2px;
    display: flex;
  }

  & a {
    margin-left: 5px;
    text-decoration: underline;
    color: $accent-color;
  }
}

.modal-check:checked + .modal-check__text span {
  background-color: $accent-color;
  border: none;
}

.modal__wrap:hover .modal__icon {
  fill: $accent-color;
}

.modal__input:focus + .modal__icon {
  fill: $accent-color;
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
