.social {
  // display: flex;
  // justify-content: space-between;
  // margin-right: 32px;
  // margin-left: 32px;
  // margin-bottom: 30px;

  display: inline-flex;
  margin-bottom: 24px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: $icon-color;

  &:hover,
  &:focus {
    fill: $white-color;
    background-color: $accent-color;
  }
}

.social__icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-items: center;
}
