// :root {
//   --main-text-color: #212121;
//   --secondary-text-color: #757575;
//   --accent-color: #2196f3;
//   --button-background: #f5f4fa;
//   --white: #ffffff;
//   --background-color: #2f303a;
//   --icon-color: #afb1b8;
// }

$main-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$main-bg-color: #2f303a;
$second-bg-color: #f5f4fa;
$white-color: #ffffff;
$icon-color: #afb1b8;
